{% extends 'layout.html' %}

{% block body %}

    <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
    <a class="btn btn-success" href="/add_article">Add Article</a>
    <a class="btn btn-success" href="/add_player">Add Player</a>
    <hr>

    <h3>ARTICLES</h3>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.title}}</td>
                <td>{{article.author}}</td>
                <td>{{article.create_date}}</td>
                <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
                <td>
                    <form action="{{url_for('delete_article', id=article.id)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>

    <h3>PLAYERS</h3>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Nationality</th>
            <th>Height</th>
            <th>Weight</th>
            <th></th>
            <th></th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{player.id}}</td>
                <td>{{player.name}}</td>
                <td>{{player.surname}}</td>
                <td>{{player.nationality}}</td>
                <td>{{player.height}}</td>
                <td>{{player.weight}}</td>
                <td><a href="edit_player/{{player.id}}" class="btn btn-default pull-right">Edit</a></td>
                <td><a href="download_player/{{player.id}}" class="btn btn-default">Download</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}